<% provide :title, 'Song Parts' %>

<h1>Song Parts</h1>

<table>
  <thead>
    <tr>
      <th>Song</th>
      <th>Part</th>
      <th>Notes</th>
      <th>Scanned</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @song_parts.each do |song_part| %>
      <tr>
        <td>
          <% if song_part.song %>
            <%= song_part.song %>
          <% else %>
            [T] <%= song_part.song_template %>
          <% end %>
        </td>
        <td><%= song_part.name %></td>
        <td><%= song_part.notes %></td>
        <td><%= song_part.scanned %></td>
        <%= render 'shared/index_actions', resource: song_part %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song part', new_song_part_path %>
