<p id="notice"><%= notice %></p>

<p>
  <strong>Song:</strong>
  <%= @song_part.song %>
</p>

<p>
  <strong>Name:</strong>
  <%= @song_part.name %>
</p>

<p>
  <strong>Scanned:</strong>
  <%= @song_part.scanned %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @song_part.notes %>
</p>

<p>
  <strong>Template:</strong>
  <%= @song_part.template %>
</p>

<%= link_to 'Edit', edit_song_part_path(@song_part) %> |
<%= link_to 'Back', song_parts_path %>
