<% provide :title, @song_part %>
<p id="notice"><%= notice %></p>

<% if @song_part.song %>
  <p>
    <strong>Song:</strong>
    <%= @song_part.song %>
  </p>
<% else %>
  <p>
    <strong>Template:</strong>
    <%= @song_part.song_template %>
  </p>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @song_part.name %>
</p>

<p>
  <strong>Scanned:</strong>
  <%= @song_part.scanned %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @song_part.notes %>
</p>

<%= link_to 'Edit', edit_song_part_path(@song_part) %> |
<%= link_to 'Back', song_parts_path %>
