<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'shared/advanced_field', f: f, field: :pre_titles %>
  <div class="field">
    <%= f.label :pre_names %><br>
    <%= f.text_field :pre_names %>
  </div>
  <%= render 'shared/advanced_field', f: f, field: :key_name_prefix %>
  <div class="field">
    <%= f.label :key_name %><br>
    <%= f.text_field :key_name %>
  </div>
  <%= render 'shared/advanced_field', f: f, field: :post_names %>
  <%= render 'shared/advanced_field', f: f, field: :key_name_suffix %>
  <%= render 'shared/advanced_field', f: f, field: :qualifications %>
  <%= render 'shared/advanced_field', f: f, field: :post_titles %>
  <%= link_to 'Advanced', '#', class: 'unhide-siblings' %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
