<p id="notice"><%= notice %></p>

<h1>Listing People</h1>

<table>
  <thead>
    <tr>
      <th>Pre titles</th>
      <th>Pre names</th>
      <th>Key name prefix</th>
      <th>Key name</th>
      <th>Post names</th>
      <th>Key name suffix</th>
      <th>Qualifications</th>
      <th>Post titles</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.pre_titles %></td>
        <td><%= person.pre_names %></td>
        <td><%= person.key_name_prefix %></td>
        <td><%= person.key_name %></td>
        <td><%= person.post_names %></td>
        <td><%= person.key_name_suffix %></td>
        <td><%= person.qualifications %></td>
        <td><%= person.post_titles %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
