<% provide :title, @person.full_name %>

<h1><%= @person.full_name %></h1>

<p>
  <%= @person.full_name %> has contributed to <%= @person.contributor_relations.count %> songs and packs.
</p>
<table>
  <thead>
    <tr>
      <th>Song/Pack</th>
      <th>Contribution</th>
    </tr>
  </thead>
  <tbody>
    <%= render @person.contributor_relations %>
  </tbody>
</table>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
