<p id="notice"><%= notice %></p>

<p>
  <strong>Pre titles:</strong>
  <%= @person.pre_titles %>
</p>

<p>
  <strong>Pre names:</strong>
  <%= @person.pre_names %>
</p>

<p>
  <strong>Key name prefix:</strong>
  <%= @person.key_name_prefix %>
</p>

<p>
  <strong>Key name:</strong>
  <%= @person.key_name %>
</p>

<p>
  <strong>Post names:</strong>
  <%= @person.post_names %>
</p>

<p>
  <strong>Key name suffix:</strong>
  <%= @person.key_name_suffix %>
</p>

<p>
  <strong>Qualifications:</strong>
  <%= @person.qualifications %>
</p>

<p>
  <strong>Post titles:</strong>
  <%= @person.post_titles %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
