<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @instrument_section.name %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @instrument_section.sequence %>
</p>

<%= link_to 'Edit', edit_instrument_section_path(@instrument_section) %> |
<%= link_to 'Back', instrument_sections_path %>
