<% provide :title, @instrument_section %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @instrument_section.name %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @instrument_section.sequence %>
</p>

<%= render 'shared/show_actions', resource: @instrument_section %>
<%= link_to 'Back', instrument_sections_path %>
