<% provide :title, @instrument_section %>
<p id="notice"><%= notice %></p>

<h1>Section: <%= @instrument_section.name %></h1>

<p>
  This section has the following instruments:
</p>

<ul>
  <% @instrument_section.instruments.order(:name).each do |inst| %>
    <li><%= inst.name %></li>
  <% end %>
</ul>

<p>
  <strong>Sort order (among other sections):</strong>
  <%= @instrument_section.sequence %>
</p>

<%= render 'shared/show_actions', resource: @instrument_section %>
<%= link_to 'Back', instrument_sections_path %>
