<tr>
  <td><%= user.username %></td>
  <td><%= user.email %></td>
  <td><%= if user.admin? then 'Yes' else 'No' end %></td>
  <td><%= if user.librarian? then 'Yes' else 'No' end %></td>
  <td><%= if not user.invitation_accepted_at? then 'No' end %></td>
  <td class="actions">
    <%= link_to 'details', user, class: "btn btn-primary" %>
    <% if current_user != user %>
      <%= link_to 'delete', user, method: :delete, 
        data: { confirm: "Delete user #{user.email}?" },
        class: "btn" %>
    <% end %>
</tr>

