<div class="nested-fields">
  <%= f.hidden_field :_destroy %>
  <div>
    <%= f.text_field :role %>
    <%= f.label :role, :by %>
  </div>
  <div class="select-fields">
    <% if f.object.person && f.object.person.new_record? %>
      <%= f.fields_for :person do |person_form| %>
        <%= render 'shared/person_fields', f: person_form %>
      <% end %>
    <% else %>
      <%= f.select :person_id, Person.all.collect { |p| [ p.full_name, p.id] },
                               { include_blank: true } %>
      <%= link_to_new_fields 'New Person', f, :person, 'shared' %>
    <% end %>
  </div>
  <div>
    <%= f.label :sequence %>
    <%= f.number_field :sequence %>
  </div>
  <div>
    <%= link_to "Remove", '#', class: 'remove_fields' %>
  </div>
</div>
