<div class="nested-fields">
  <%= f.hidden_field :_destroy %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :scanned %>
    <%= f.check_box :scanned %>
  </div>
  <div>
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>
  <div>
    <%= f.label :sequence %>
    <%= f.number_field :sequence %>
  </div>
  <%= f.fields_for :part_instruments do |instruments_form| %>
    <%= render 'shared/part_instrument_fields', f: instruments_form %>
  <% end %>
  <%= link_to_add_fields "Add Instrument", f, :part_instruments, 'shared' %>
  <div>
    <%= link_to "Remove", '#', class: 'remove_fields' %>
  </div>
</div>
