<% provide :title, 'New Publisher' %>
<h1>New Publisher</h1>

<%= form_for @publisher do |f| %>
  <%= render 'devise/shared/error_messages', resource: f.object %>

  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :website %><br/>
    <%= f.text_field :website, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
