<% provide :title, 'All Songs' %>

<h1>Song List</h1>

<% if librarian? %>
  <%= form_tag(new_song_path, method: 'get') do %>
    <%= submit_tag 'New Song' %>
    <%= label_tag :template_id, 'Template (opt.)' %>
    <%= select_tag :template_id, options_from_collection_for_select(
      SongTemplate.order(:name).collect, 'id', 'name'), { include_blank: true } %>
  <% end %>
<% end %>

<%= render 'filter_form', path: songs_path %>

<table>
  <thead>
    <tr>
      <th class="sortable">Label</th>
      <th class="sortable">Title</th>
      <th class="sortable">Pack</th>
      <th class="sortable">Style</th>
      <th class="sortable">Tempo (bpm)</th>
      <th class="sortable">Duration</th>
      <th class="sortable">Publisher</th>
      <th class="sortable">Serial No.</th>
      <th class="sortable">Performance notes</th>
      <th class="sortable">Librarian notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.label %></td>
        <td><%= song.title %></td>
        <td><%= song.pack %></td>
        <td><%= song.style %></td>
        <td class="text-right"><%= song.tempo %></td>
        <td class="text-right"><%= song.duration_string %></td>
        <td><%= song.publisher %></td>
        <td><%= song.serial %></td>
        <td><%= song.notes_perf %></td>
        <td><%= song.notes_lib %></td>
        <%= render 'shared/index_actions', resource: song %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
