<% provide :title, @song.title %>

<h1><%= @song.to_s %></h1>

<p>
  <%= @song.details %>
</p>

<p>
  <% @song.attributions.each do |attrib| %>
    <%= attrib %><br/>
  <% end %>
</p>

<p>
  <strong>Publisher:</strong>
  <% if @song.publisher %>
    <%= link_to @song.publisher, @song.publisher %>
  <% else %>
    <%= link_to @song.pack.publisher, @song.pack.publisher %>
  <% end %>
</p>

<% if @song.pack %>
  <p>
    <strong>Pack:</strong>
    <%= link_to @song.pack, @song.pack %>
  </p>
<% end %>

<p>
  <strong>Serial:</strong>
  <%= @song.serial %>
</p>

<p>
  <strong>Performance notes:</strong><br/>
  <%= @song.notes_perf %>
</p>

<p>
  <strong>Librarian notes:</strong><br/>
  <%= @song.notes_lib %>
</p>

<p>
  <strong>Recording:</strong>
  <%= @song.recording %>
</p>

<p>
  <strong>Style:</strong>
  <%= @song.style %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @song.duration_string %>
</p>

<p>
  <strong>Tempo:</strong>
  <%= @song.tempo %> bpm
</p>

<p>
  <strong>Purchased at:</strong>
  <%= @song.purchased_at %>
</p>

<%= render 'song_parts/member_list', resource: @song %>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
