<% provide :title, @song.title %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>

<p>
  <strong>Label:</strong>
  <%= @song.label %>
</p>

<p>
  <strong>Publisher:</strong>
  <% if @song.publisher %>
    <%= link_to @song.publisher %>
  <% else %>
    <%= link_to @song.pack.publisher %>
  <% end %>
</p>

<% if @song.pack %>
  <p>
    <strong>Pack:</strong>
    <%= link_to @song.pack %>
  </p>
<% end %>

<p>
  <strong>Serial:</strong>
  <%= @song.serial %>
</p>

<p>
  <strong>Details:</strong>
  <%= @song.details %>
</p>

<p>
  <strong>Performance notes:</strong>
  <%= @song.notes_perf %>
</p>

<p>
  <strong>Librarian notes:</strong>
  <%= @song.notes_lib %>
</p>

<p>
  <strong>Recording:</strong>
  <%= @song.recording %>
</p>

<p>
  <strong>Style:</strong>
  <%= @song.style %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @song.duration %>
</p>

<p>
  <strong>Tempo:</strong>
  <%= @song.tempo %>
</p>

<p>
  <strong>Purchased at:</strong>
  <%= @song.purchased_at %>
</p>

<%= render 'song_parts/member_list', resource: @song %>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
