<%= form_for(@song_template) do |f| %>
  <% if @song_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song_template.errors.count, "error") %> prohibited this song_template from being saved:</h2>

      <ul>
      <% @song_template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <%= render 'shared/song_part_fieldset', f: f %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
