<%= form_for(@pack) do |f| %>
  <% if @pack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pack.errors.count, "error") %> prohibited this pack from being saved:</h2>

      <ul>
      <% @pack.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="select-fields">
    <% if @pack.publisher && @pack.publisher.new_record? %>
      <%= f.fields_for :publisher do |publisher_form| %>
        <%= render 'shared/publisher_fields', f: publisher_form %>
      <% end %>
    <% else %> 
      <%= render partial: 'publishers/publisher_select', locals: { f: f,
                                                                   include_blank: true } %>
      <%= link_to_new_fields 'New Publisher', f, :publisher, 'shared' %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :serial %><br>
    <%= f.text_field :serial %>
  </div>

  <%= render 'shared/contributor_relation_fieldset', f: f %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
