<%= form_for(@instrument) do |f| %>
  <% if @instrument.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instrument.errors.count, "error") %> prohibited this instrument from being saved:</h2>

      <ul>
      <% @instrument.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :section_id %><br>
    <%= f.select :section_id, InstrumentSection.all.collect { |p| [ p.name, p.id] }, { include_blank: include_blank } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
