<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to image_tag('ifs-logo.png', alt: 'Library home', height: '60'), 
                          'https://www.infullswing.org.au', id: 'logo' %>
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Catalogue', catalogue_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li id="admin"><%= if current_user.admin? then link_to 'User Admin', users_path end %></li>
          <li id="invite_user"><%= link_to 'Invite', new_user_invitation_path %></li>
          <li id="user_id"><%= link_to current_user.email, edit_user_registration_path %></li>
          <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
